h1 {
  color:navy;
  font: ;
  font-size: 500%;
  text-align: center;
}

h2 {
  color:navy;
  font: ;
  font-size: 200%;
  text-align: center;
}

h3 {
  color:navy;
  font: ;
  font-size: 150%;
  text-align: center;
}
